<ng-container *ngIf="(comfirmation |async) || {} as userComfirmation">
  <!-- Email confirmation -->
  <div class="email-confirmation">
    <div class="card register-form">
      <div class="card-body">
        <a class="navbar-brand" [routerLink]="['/']">
          <img class="mb-4" width="72" height="72" src="assets/images/logos/b2w_logo_72px.png" srcset="
                    assets/images/logos/b2w_logo_72px.png 1x,
                    assets/images/logos/b2w_logo_72px-2x.png 2x,
                    assets/images/logos/b2w_logo_72px-3x.png 3x"alt="bet2win logo for the login page">
        </a>
        <h1 class="card-title">Confirma tu cuenta</h1>
        <h3 class="card-subtitle mb-2 text-muted">La cuenta debe ser verificada</h3>
        <div class="row justify-content-around align-items-center">
          <!-- SMS user confirmation -->
          <!-- <div class="col-lg-5 col-md-6 col-sm-12 py-3">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">SMS</h4>
                <p class="card-text">Va a recibir en su mobil y de forma gratuita un SMS con un codigo de 6 digitos para confirmar su cuenta</p>
                <div class="row">
                  <div class="col-12">
                    <a href="#" class="card-link">Confirmar por SMS</a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-lg-5 col-md-6 col-sm-12 py-3">
            <div class="card">
              <div class="card-body" *ngIf="!resendEmail">
                <h4 class="card-title">Correo Electronico</h4>
                <p class="card-text">Va a recibir en su email y de forma gratuita un correo con un codigo de 6 digitos para confirmar su cuenta</p>
                <form [formGroup]="emailCodeForm" (ngSubmit)="sendCode()" *ngIf="userComfirmation.method == 'email' || hasCodeUrl">
                  <div class="form-group">
                    <label for="inputCode" class="sr-only">Codigo</label>
                    <input type="number" formControlName="code" id="inputCode" class="form-control text-center" placeholder="Codigo" required autofocus [class.is-invalid]="emailCodeForm.controls.code.invalid || codeConfirmationError" [class.is-valid]="!emailCodeForm.controls.code.invalid || !codeConfirmationError" [attr.disabled]="codeConfirmationProcess ? '' : null">
                    <div *ngIf="emailCodeForm.controls.code.invalid" class="invalid-feedback">
                      El codigo debe tener 6 digitos.
                    </div>
                    <div *ngIf="codeConfirmationError" class="invalid-feedback">
                      {{ errorMessage }}
                    </div>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!emailCodeForm.valid || codeConfirmationProcess || errorMessage == 'Demasiados intentos'">Confirmar <i class="fas fa-circle-notch fa-spin" *ngIf="codeConfirmationProcess"></i></button>
                  <div class="pt-4">
                    <a href (click)="$event.preventDefault(); sendAnotherEmail()" *ngIf="errorMessage == 'Demasiados intentos'" class="card-link">Volver a enviar un correo <i class="fas fa-circle-notch fa-spin" *ngIf="codeConfirmationProcess"></i></a>
                    <small *ngIf="errorMessage !== 'Demasiados intentos'">Si no ha recibido ningun correo, puede ser que este se encuentre en correo no deseaso, si lo desea puede <a href (click)="$event.preventDefault(); sendAnotherEmail()" class="card-link">volver a enviar un correo <i class="fas fa-circle-notch fa-spin" *ngIf="codeConfirmationProcess"></i></a></small>
                  </div>
                </form>
                <a href (click)="$event.preventDefault(); nextStepInputCode()" *ngIf="(!processEmailVerification || userComfirmation.method !== '' || hasCodeUrl ) && userComfirmation.method !== 'email' && !resendEmail" class="card-link">Confirmar por email <i class="fas fa-circle-notch fa-spin" *ngIf="processEmailVerification"></i></a>
              </div>
              <app-loading-spinner *ngIf="resendEmail"></app-loading-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
