<section id="home-banner-area" class="home-banner-area">
  <div class="container">
    <div class="row fullscreen d-flex justify-content-center">
      <div class="home-banner-content col-lg-5 col-md-6 align-self-end align-self-md-center">
        <h1>
          Rentabiliza tus apuestas
        </h1>
        <p class="grey">Te presentamos la manera de sacar mayor <span class="text-primary"><span class="element"></span></span> a tus apuestas.</p>
      </div>
      <div class="col-lg-6 col-md-6 align-self-start align-self-md-center">
        <div class="card box-shadow p-5 d-none d-sm-block">
          <form action="" class="mt-2">
            <div class="mb-7">
              <h1 class="h3 text-primary font-weight-normal mb-0">Crea tu cuenta en <span class="font-weight-semi-bold">Bet2win</span></h1>
              <p class="grey pb-2">Rellena este formulario para crear tu cuenta.</p>
            </div>
            <div class="js-form-message form-group">
              <label class="form-label grey" for="signinSrEmail">Correo electronico</label>
              <input type="email" class="form-control no-border box-shadow" name="email" id="signinSrEmail" placeholder="Email address" aria-label="Email address" required="" data-msg="Introduzca un email valido." data-error-class="u-has-error" data-success-class="u-has-success">
            </div>
            <div class="js-form-message form-group">
              <label class="form-label grey" for="signinSrPassword">Contraseña</label>
              <input type="password" class="form-control no-border box-shadow" name="password" id="signinSrPassword" placeholder="Contraseña" aria-label="Contraseña" required="" data-msg="Tu contraseña es incorrecta." data-error-class="u-has-error" data-success-class="u-has-success">
            </div>
            <div class="js-form-message form-group">
              <label class="form-label grey" for="signinSrConfirmPassword">Confirma la contraseña</label>
              <input type="password" class="form-control no-border box-shadow" name="confirmPassword" id="signinSrConfirmPassword" placeholder="********" aria-label="********" required="" data-msg="Las contraseñas no coinciden." data-error-class="u-has-error" data-success-class="u-has-success">
            </div>
            <div class="js-form-message mb-5">
              <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox" required="" data-msg="Por favor acepte los terminos y condiciones." data-error-class="u-has-error" data-success-class="u-has-success">
                <label class="custom-control-label grey" for="termsCheckbox">
                  <small>
                    Acepto los
                    <a class="link-muted" href="../pages/terms.html">terminos y condiciones</a>
                  </small>
                </label>
              </div>
            </div>
            <div class="row align-items-center mb-1">
              <div class="col-12 text-right">
                <button type="submit" class="btn btn-soft-primary btn-lg btn-block transition-3d-hover">Crear cuenta</button>
              </div>
            </div>
          </form>
        </div>
        <div class="d-block d-sm-none text-center create-account-button">
          <a href="" type="" class="btn btn-primary transition-3d-hover">Empieze a ganar</a>
        </div>
      </div>
    </div>
  </div>
  <app-arrow-slice></app-arrow-slice>
</section>
