<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Que opinan nuestros clientes</h2>
        <p class="grey">Quien mejor nos conoce son nuestros clientes.</p>
      </div>
      <div class="col-12">
        <div id="testimonialCarousel" class="carousel slide" data-pause="hover" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#testimonialCarousel" data-slide-to="0"></li>
            <li data-target="#testimonialCarousel" data-slide-to="1"></li>
            <li data-target="#testimonialCarousel" data-slide-to="2" class="active"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-6">
                  <div class="media">
                    <div class="media-left d-flex mr-3">
                      <img src="https://source.unsplash.com/_9HWqhmaSQE/80x80" alt="">
                    </div>
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                        <p class="overview"><b>Paula Wilson</b>, Premium</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="w-90 d-block d-sm-none">
                <div class="col-sm-6">
                  <div class="media">
                    <div class="media-left d-flex mr-3">
                      <img src="https://source.unsplash.com/o4UhdLv5jbQ/80x80" alt="">
                    </div>
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                        <p class="overview"><b>Antonio Moreno</b>, Free</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-6">
                  <div class="media">
                    <div class="media-left d-flex mr-3">
                      <img src="https://source.unsplash.com/_9HWqhmaSQE/80x80" alt="">
                    </div>
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                        <p class="overview"><b>Michael Holz</b>, Premium</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="w-90 d-block d-sm-none">
                <div class="col-sm-6">
                  <div class="media">
                    <div class="media-left d-flex mr-3">
                      <img src="https://source.unsplash.com/vLXdetEcB40/80x80" alt="">
                    </div>
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                        <p class="overview"><b>Mary Saveley</b>, Premium</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item carousel-item active">
              <div class="row">
                <div class="col-sm-6">
                  <div class="media">
                    <div class="media-left d-flex mr-3">
                      <img src="https://source.unsplash.com/vLXdetEcB40/80x80" alt="">
                    </div>
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                        <p class="overview"><b>Martin Sommer</b>, Free</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="w-90 d-block d-sm-none">
                <div class="col-sm-6">
                  <div class="media">
                    <div class="media-left d-flex mr-3">
                      <img src="https://source.unsplash.com/o4UhdLv5jbQ/80x80" alt="">
                    </div>
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                        <p class="overview"><b>John Williams</b>, Free</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
