<ng-container *ngIf="(auth.user | async) || {} as user">
  <form [formGroup]="signupForm" (ngSubmit)="signUp()" class="form-signin">
    <div class="card register-form">
      <div *ngIf="!showSpiner">
        <a class="navbar-brand" [routerLink]="['/']">
          <img class="mb-4" width="72" height="72" src="assets/images/logos/b2w_logo_72px.png" srcset="
                    assets/images/logos/b2w_logo_72px.png 1x,
                    assets/images/logos/b2w_logo_72px-2x.png 2x,
                    assets/images/logos/b2w_logo_72px-3x.png 3x"alt="bet2win logo for the login page">
        </a>
        <h1 class="h3 mb-3 font-weight-normal">Crear cuenta</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="Email" value="" required autocomplete="email" autofocus>
        <div *ngIf="signupForm.controls.email.invalid && signupForm.controls.email.dirty">
          Your email doesn't look quite right...
        </div>
        <div [formGroup]="passwordFormGroup">
          <label for="inputPassword" class="sr-only">Contraseña</label>
          <input type="password" formControlName="password" id="inputPassword" class="form-control b2w-password" name="password" placeholder="Contraseña" autocomplete="new-password" required>
          <div *ngIf="passwordFormGroup.controls.password.invalid && passwordFormGroup.controls.password.dirty">
            Password must be between 6 and 24 chars and have at least one number
          </div>
          <div *ngIf="passwordFormGroup.errors?.doesMatchPassword">
            Password does not match
          </div>
          <label for="inputPasswordRepeat" class="sr-only">Confirmar contraseña</label>
          <input type="password" formControlName="repeatPassword" id="inputPasswordRepeat" class="form-control b2w-confirmPassword" name="repeatPassword" placeholder="Contraseña" autocomplete="new-password" required>
        </div>
        I accept the Terms of Service and have read the Services Privacy Policy
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!isSignUpFormValid() || loading">Siguiente <i class="fas fa-circle-notch fa-spin" *ngIf="loading"></i></button>
      </div>
      <app-loading-spinner *ngIf="showSpiner"></app-loading-spinner>
    </div>
    <div class="card b2w-login-card">
      <p>Ya dispones de una cuenta <a [routerLink]="['/login']">iniciar sesión</a></p>
    </div>
  </form>
</ng-container>
