<a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
  <i class="fas fa-envelope-open"></i>
  <span class="badge badge-pill badge-primary">7</span>
</a>
<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list full-screen-dropdown" aria-labelledby="messageDropdown">
  <a class="dropdown-item">
    <div class="row justify-content-between align-items-center">
      <div class="col-xs">
        <p class="mb-0 font-weight-normal">Tienes mensajes para leer
        </p>
      </div>
      <div class="col-xs">
        <span class="badge badge-info badge-pill">Ver todos</span>
      </div>
    </div>
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item preview-item">
    <div class="preview-thumbnail">
      <div class="preview-icon bg-info">
        <i class="fas fa-user mx-0"></i>
      </div>
    </div>
    <div class="preview-item-content flex-grow">
      <div class="row justify-content-between">
        <div class="col-xs">
          <h6 class="preview-subject ellipsis font-weight-medium text-dark">David Grey</h6>
        </div>
        <div class="col-xs">
          <span class="font-weight-light small-text">Hace 1 minuto</span>
        </div>
        <div class="col-12 p-0">
          <p class="font-weight-light small-text">
            Se ha cancelado la reunion
          </p>
        </div>
      </div>
    </div>
  </a>
  <div class="dropdown-divider"></div>

</div>
