<section class="my-5 fullscreen d-horizontally-mobile-none" id="home-how-works-area">
  <div class="container">
    <div class="row align-content-center justify-content-between">
      <div class="col-12 mb-1 mb-md-3 mb-lg-5 text-center">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">Como functiona</span>
        <h2>Como ganar dinero con nosotros</h2>
        <p class="grey d-none d-md-block">Aprende como funciona nuestro sistema, y que es lo que hacemos nosotros.</p>
      </div>
      <div class="col-md-4 d-none d-md-block text-center">
        <img class="img-fluid" src="assets/images/icons/computer-how-works.svg" alt="Image">
      </div>
      <div class="col-md-8">
        <div class="accordion-group box-shadow p-3 accordion-group-steps">
          <div class="accordion open">
            <div class="accordion-control py-2">
              <div class="row align-content-center justify-content-start">
                <div class="col-1">
                  <div class="number"><p>1</p></div>
                </div>
                <div class="col-11">
                  <h5>Casas de apuestas</h5>
                </div>
              </div>
            </div>
            <div class="accordion-content">
              <div class="accordion-content-wrapper">
                <p class="grey">Debido a ala alta competividad entre casas de apuestas, estas ofrecen cuotas muy diversas para intentar que sea mejor que las de las demás</p>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-control py-2">
              <div class="row align-content-center justify-content-start">
                <div class="col-1">
                  <div class="number"><p>2</p></div>
                </div>
                <div class="col-11">
                  <h5>Apuestas equilibradas</h5>
                </div>
              </div>
            </div>
            <div class="accordion-content">
              <div class="accordion-content-wrapper">
                <p class="grey">Si apuestas en estas cuotas tienes riesgo, pero si apuestas en diferentes casas de apuestas es posible obtener un beneficio sea cual sea el resultado</p>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-control py-2">
              <div class="row align-content-center justify-content-start">
                <div class="col-1">
                  <div class="number"><p>3</p></div>
                </div>
                <div class="col-11">
                  <h5>Nuestro trabajo</h5>
                </div>
              </div>
            </div>
            <div class="accordion-content">
              <div class="accordion-content-wrapper">
                <p class="grey">Aquí es donde entramos nosotros, nuestro equipo busca estas oportunidades en las casas de apuestas y te la presentamos, para que seas tu quien decida si apostar o no y la cantidad.</p>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-control py-2">
              <div class="row align-content-center justify-content-start">
                <div class="col-1">
                  <div class="number"><p>4</p></div>
                </div>
                <div class="col-11">
                  <h5>Mantente informado</h5>
                </div>
              </div>
            </div>
            <div class="accordion-content">
              <div class="accordion-content-wrapper">
                <p class="grey">Te ofrecemos esta información a través de la pagina web y de telegram.</p>
                <div class="icons w-100 text-center">
                  <i class="fas fa-desktop"></i>
                  <i class="fab fa-telegram"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
