<section id="home-contact-area" class="home-contact-area">
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-between">
      <div class="col-lg-5 mb-7 mb-lg-0">
        <!-- Title -->
        <div class="pr-lg-4 mb-7">
          <span class="btn btn-xs btn-soft-success btn-pill mb-2">Contacto</span>
          <p class="grey mb-2 mt-4">Si tienes alguna consulta o algun problema contacta con nosotros y nuestro equipo se encargara de ello.</p>
          <h2 >Puedes encontrarnos en</h2>
          <div class="my-5 ml-3 text-grey">
            <div class="mb-4 d-flex flex-row align-content-center">
              <i class="far fa-envelope-open mr-3 big-icon"></i>
              <strong class="mr-3">Correo:</strong>
              <a class="link-muted" href="mailto:contact@b2win.es">contact@b2win.es</a>
            </div>
            <div class="my-4 d-flex flex-row align-content-center">
              <i class="fas fa-phone mr-3 big-icon"></i>
              <strong class="mr-3">Telefono*:</strong>
              <a class="link-muted" href="tel:+34123456789">123456789</a>
            </div>
            <div class="mt-4">
              <div class="d-flex-flex-row align-content-center">
                <i class="fab fa-telegram-plane mr-3 big-icon"></i>
                <strong>Telegram: </strong>
              </div>
              <div class="my-3 ml-5">
                <a href="#" class="link-muted">Bet2Win Info</a>
              </div>
              <div class="my-3 ml-5">
                <a href="#" class="link-muted">Bet2Win Free</a>
              </div>
            </div>
          </div>
          <p class="mt-3 small text-muted text-center">
             * No respondemos a llamadas telefonicas pero si a mensajes de texto y WhatsApp.
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="card my-5 box-shadow p-sm-5 p-3">
          <form action="" class="mt-2">
            <div class="mb-7">
              <h1 class="h3 text-primary font-weight-normal mb-0">Contacta con nosotros</h1>
              <p class="grey pb-2">Rellena este formulario.</p>
            </div>
            <div class="js-form-message form-group">
              <label class="form-label grey" for="contactSrName">Nombre</label>
              <input type="text" class="form-control no-border box-shadow" name="name" id="contactSrName" placeholder="Nombre" aria-label="Nombre" required="">
            </div>
            <div class="js-form-message form-group">
              <label class="form-label grey" for="contactSrEmail">Correo electronico</label>
              <input type="email" class="form-control no-border box-shadow" name="email" id="contactSrEmail" placeholder="Correo electronico" aria-label="Correo electronico" required="">
            </div>
            <div class="js-form-message form-group">
              <label class="form-label grey" for="message">Mensaje</label>
              <textarea class="form-control no-border box-shadow" name="message" placeholder="Escribe aqui tu mensaje" rows="5" id="message"></textarea>
            </div>
            <div class="js-form-message mb-5">
              <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                <input type="checkbox" class="custom-control-input" id="termsCheckboxContact" name="termsCheckboxContact" required="">
                <label class="custom-control-label grey" for="termsCheckboxContact">
                  <small>
                    Acepto los
                    <a class="link-muted" href="../pages/terms.html">terminos y condiciones</a>
                  </small>
                </label>
              </div>
            </div>
            <div class="row align-items-center mb-1">
              <div class="col-12 text-right">
                <button type="submit" class="btn btn-soft-primary btn-lg btn-block transition-3d-hover">Enviar mensaje</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
