<section id="stats" class="fact-area">
  <div class="container">
    <div class="card mt-3 mb-5 fact-box">
      <div class="row align-items-center text-center">
        <div class="col single-fact">
          <h2>300+</h2>
          <p>Usuarios totales</p>
        </div>
        <div class="col single-fact">
          <h2>30+</h2>
          <p>Usuarios premium</p>
        </div>
        <div class="col single-fact">
          <h2>1000+</h2>
          <p>Visitas diarias</p>
        </div>
        <div class="col single-fact">
          <h2>95%</h2>
          <p>Valoraciones positivas</p>
        </div>
      </div>
    </div>
  </div>
</section>
