<section class="my-5" id="home-prices-area">
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-5 mb-7 mb-lg-0">
      <div class="pr-lg-4 mb-7">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">Precios</span>
        <h2>Paga por lo que necesites.</h2>
        <p>Elige el plan de pago que mejor se adapte para ti.</p>
      </div>
      <div class="btn-group btn-group-toggle box-shadow">
        <a class="js-animation-link btn btn-outline-secondary btn-custom-toggle-primary btn-sm-wide" [class.active]="month" (click)="changeToMonth()" href="javascript:;" data-target="#pricingMonthly" data-link-group="idPricing" data-animation-in="slideInUp">Un mes</a>
        <a class="js-animation-link btn btn-outline-secondary btn-custom-toggle-primary btn-sm-wide" [class.active]="pack" (click)="changeToPack()" href="javascript:;" data-target="#pricingYearly" data-link-group="idPricing" data-animation-in="slideInUp">
          Paquetes
          <span class="badge badge-success badge-pill badge-bigger badge-pos">Descuento</span>
        </a>
      </div>
    </div>

    <div class="col-lg-7">
      <div id="pricingMonthly" class="row align-items-center mb-3" data-target-group="idPricing" *ngIf="month">
        <app-pricing-card class="w-100" [name]="'Pago mensual'" [price]="'30'" [time]="'mes'" [values]="valuesMonth"></app-pricing-card>
      </div>
      <div id="pricingYearly box-shadow" class="row align-items-center mb-4 mx-sm-1" data-target-group="idPricing" *ngIf="pack">
        <app-pricing-card [values]="valuesPack" class="col-12"></app-pricing-card>
      </div>

      <p class="small text-muted text-center" *ngIf="month">
        * Las <a class="link-muted" href="../pages/terms.html">condiciones</a> están sujetas a cambios.
      </p>
    </div>
  </div>
</div>
</section>
