<section class="b2w-full-screen-form">
  <div class="container">
    <div class="goBack" *ngIf="step > 1">
      <a href="" (click)="$event.preventDefault(); stepBack()">
        <i class="fas fa-arrow-left"></i>
      </a>

    </div>
    <!-- Subscripciones types -->
    <div class="container" *ngIf="step == 1">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2>Subscripciones</h2>
        <p class="lead">Quieres cambiar al plan premium</p>
      </div>
      <div class="card-deck mb-3 text-center b2w-pricing-cards">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Gratuita</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Gratis</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Disfrutas de nuestro servicio</li>
              <li>Rentabilidad hasta el 3 %</li>
              <li><span class="pricing-option-not-available">Soporte</span></li>
              <li><span class="pricing-option-not-available">Ventajas de fidelidad</span></li>
            </ul>
            <button type="button" (click)="freePlan()" class="btn btn-lg btn-block btn-outline-primary">Seguir sin premium</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">Desde</small> 25€ <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Modo de pago adaptado</li>
              <li>Precio fijo asegurado*</li>
              <li>Pago automatico</li>
              <li>Ventajas de fidelidad</li>
            </ul>
            <button type="button" (click)="premiumPacks()" class="btn btn-lg btn-block btn-primary">Mirar los paquetes</button>
          </div>
        </div>
      </div>
      <div class="pricing-bottom px-3 py-3 mx-auto text-center">
        <p>* Precio fijo asegurado con las funciones contratadas, en caso de una actualización de la cuota mensual con nuevas funciones, cada cliente tendra la opción de mantener o actualizar la cuota, dependiendo si desea las nuevas funcionalidades o mantener las actuales</p>
      </div>
    </div>
    <!-- Subscriptions packs -->
    <div class="container" *ngIf="step >= 2">
      <div class="row text-left">
        <div class="col-md-5 col-lg-4 order-md-2 mb-4">
          <div class="pb-md-5 text-center">
            <img class="mb-4" width="72" height="72" src="assets/images/logos/b2w_logo_72px.png" srcset="
                      assets/images/logos/b2w_logo_72px.png 1x,
                      assets/images/logos/b2w_logo_72px-2x.png 2x,
                      assets/images/logos/b2w_logo_72px-3x.png 3x"alt="bet2win logo for the login page">
            <h2>Formulario de compra</h2>
            <p class="lead">Como quieres realizar el pago</p>
          </div>
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Tu cesta</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{ cart.product.title }}</h6>
                <small class="text-muted">{{ cart.product.subtitle }}</small>
              </div>
              <span class="text-muted">{{ cart.product.price }} €</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let extra of cart.extras">
              <div>
                <h6 class="my-0">{{ extra.title }}</h6>
                <small class="text-muted">{{ extra.subtitle }}</small>
              </div>
              <span class="text-muted">{{ extra.price }} €</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (EUR)</span>
              <strong><small>{{ !cart.product.monthly? "pago único":"al mes" }}</small> {{ cart.total }} €</strong>
            </li>
          </ul>
          <form class="card p-2 d-none d-md-block">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Canjear</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-7 col-lg-8 order-md-1">
          <div class="container" *ngIf="step == 2">
            <form [formGroup]="subscriptionForm" (ngSubmit)="generatePayment()">
              <h4>Tipo de contrato</h4>
              <hr class="my-4">
              <div class="d-block my-3">
                <div class="row">
                  <div class="col-6 col-lg">
                    <input id="oneMonth" formControlName="paymentFrequency" value="oneMonth" type="radio" (change)="updatePrice()" checked required>
                    <label class="payment-method" for="oneMonth">
                      <div class="row justify-content-between">
                        <div class="col align-self-center">
                          1 mes
                        </div>
                      </div>
                    </label>
                  </div>
                  <div class="col-6 col-lg">
                    <input id="threeMonth" formControlName="paymentFrequency" value="threeMonth" type="radio" (change)="updatePrice()" checked required>
                    <label class="payment-method" for="threeMonth">
                      <div class="row justify-content-between">
                        <div class="col align-self-center">
                          3 meses
                        </div>
                      </div>
                    </label>
                  </div>
                  <div class="col-6 col-lg">
                    <input id="sixMonth" formControlName="paymentFrequency" value="sixMonth" type="radio" (change)="updatePrice()" checked required>
                    <label class="payment-method" for="sixMonth">
                      <div class="row justify-content-between">
                        <div class="col align-self-center">
                          6 meses
                        </div>
                      </div>
                    </label>
                  </div>
                  <div class="col-6 col-lg">
                    <input id="twelveMonth" formControlName="paymentFrequency" value="twelveMonth" type="radio" (change)="updatePrice()" checked required>
                    <label class="payment-method" for="twelveMonth">
                      <div class="row justify-content-between">
                        <div class="col align-self-center">
                          12 meses
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
              <div *ngIf="paymentFrequency == 'oneMonth'">
                <h4 class="mt-5">Modalidad de pago</h4>
                <hr class="my-4">
                <div class="d-block my-3">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <input id="monthly" formControlName="paymentTime" value="monthly" type="radio" (change)="updatePrice()" checked required>
                      <label class="payment-method" for="monthly">
                        <div class="row justify-content-between">
                          <div class="col align-self-center">
                            Mensualmente
                          </div>
                        </div>
                      </label>
                    </div>
                    <div class="col-12 col-sm-6">
                      <input id="allNow" formControlName="paymentTime" value="allNow" type="radio" (change)="updatePrice()" checked required>
                      <label class="payment-method" for="allNow">
                        <div class="row justify-content-between">
                          <div class="col align-self-center">
                            Un solo mes
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <h4 class="mt-5">Plataforma de pago</h4>
              <hr class="my-4">
              <div class="d-block my-3">
                <div>
                  <input id="stripe" formControlName="paymentMethod" value="stripe" type="radio" (change)="updatePrice()" checked required>
                  <label class="payment-method" for="stripe">
                    <div class="row justify-content-between">
                      <div class="col align-self-center">
                        Tarjetas
                      </div>
                      <div class="col text-right align-self-end">
                        <span class="brands d-none d-md-block">
                          <img src="assets/images/brand-logos/cards/visa.png" srcset="
                                    assets/images/brand-logos/cards/visa.png 1x,
                                    assets/images/brand-logos/cards/visa-2x.png 2x,
                                    assets/images/brand-logos/cards/visa-3x.png 3x"alt="visa logo for the payment page">
                          <img src="assets/images/brand-logos/cards/mastercard.png" srcset="
                                    assets/images/brand-logos/cards/mastercard.png 1x,
                                    assets/images/brand-logos/cards/mastercard-2x.png 2x,
                                    assets/images/brand-logos/cards/mastercard-3x.png 3x"alt="visa logo for the payment page">
                        </span>
                        <span class="brands d-block d-md-none">
                          <i class="fas fa-credit-card"></i>
                        </span>
                      </div>
                    </div>
                  </label>
                </div>
                <div>
                  <input id="paypal" formControlName="paymentMethod" value="paypal" type="radio" (change)="updatePrice()" required>
                  <label class="payment-method" for="paypal">
                    <div class="row justify-content-between">
                      <div class="col align-self-center">
                        Paypal
                      </div>
                      <div class="col text-right align-self-end">
                        <span class="brands d-none d-md-block">
                          <img src="assets/images/brand-logos/cards/paypal.png" srcset="
                                    assets/images/brand-logos/cards/paypal.png 1x,
                                    assets/images/brand-logos/cards/paypal-2x.png 2x,
                                    assets/images/brand-logos/cards/paypal-3x.png 3x"alt="visa logo for the payment page">
                        </span>
                        <span class="brands d-block d-md-none">
                          <i class="fab fa-paypal"></i>
                        </span>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <!-- cart again -->
              <hr class="mb-4">
              <div class="d-block d-md-none mb-5">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-muted">Tu cesta</span>
                </h4>
                <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 class="my-0">{{ cart.product.title }}</h6>
                      <small class="text-muted">{{ cart.product.subtitle }}</small>
                    </div>
                    <span class="text-muted">{{ cart.product.price }} €</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let extra of cart.extras">
                    <div>
                      <h6 class="my-0">{{ extra.title }}</h6>
                      <small class="text-muted">{{ extra.subtitle }}</small>
                    </div>
                    <span class="text-muted">{{ extra.price }} €</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <span>Total (EUR)</span>
                    <strong><small>{{ !cart.product.monthly? "pago único":"al mes" }}</small> {{ cart.total }} €</strong>
                  </li>
                </ul>
                <form class="card p-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-secondary">Canjear</button>
                    </div>
                  </div>
                </form>
              </div>
              <button class="btn btn-primary btn-lg btn-block" [disabled]="subscriptionForm.invalid" type="submit">Continua con la compra</button>
            </form>
          </div>
          <ng-container *ngIf="(auth.user | async) || {} as user">
            <div class="container" *ngIf="step == 3">
              <h4 class="mb-3">Información del usuario</h4>
              <form [formGroup]="idCardForm" (ngSubmit)="goToPayment(user)">
                <div class="mb-3">
                  <label for="firstName">Nombre</label>
                  <input type="text" formControlName="name" class="form-control" id="firstName" placeholder="" required>
                  <div *ngIf="idCardForm.controls.name.invalid">
                    Valid first name is required.
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-7 mb-3">
                    <label for="lastName">Apellidos</label>
                    <input type="text" formControlName="surname" class="form-control" id="lastName" placeholder="" required>
                    <div *ngIf="idCardForm.controls.surname.invalid">
                      Valid last name is required.
                    </div>
                  </div>
                  <div class="col-lg-5 mb-3">
                    <label for="idCard">Documento de identidad</label>
                    <input type="text" formControlName="idCard" class="form-control" id="idCard">
                    <div *ngIf="idCardForm.controls.idCard.invalid">
                      Please enter a valid id card.
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <h4 class="mb-3 mt-4">Dirección de facturación</h4>
                <div class="row">
                  <div class="col-lg-7">
                    <label for="street">Calle</label>
                    <input type="text" formControlName="currentAddress" class="form-control" id="street" required>
                  </div>
                  <div class="col-6 col-lg-3">
                    <label for="address2">Número</label>
                    <input type="text" class="form-control" formControlName="currentAddressNumber" id="address2" placeholder="Apartamento o puerta">
                  </div>
                  <div class="col-6 col-lg-2">
                    <label for="address2">Piso</label>
                    <input type="text" class="form-control" formControlName="currentAddressDoor" id="address2" placeholder="Apartamento o puerta">
                  </div>
                </div>
                <div *ngIf="idCardForm.controls.currentAddress.invalid || idCardForm.controls.currentAddressNumber.invalid">
                  Please enter your shipping address.
                </div>

                <div class="row mt-3">
                  <div class="col-md-5 col-lg-3 mb-3">
                    <label for="zip">Codigo postal</label>
                    <input type="text" class="form-control" id="zip" formControlName="currentZipcode" placeholder="" required>
                    <div *ngIf="idCardForm.controls.currentZipcode.invalid">
                      Zip code required.
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-5 mb-3">
                    <label for="city">Ciudad</label>
                    <input type="text" class="form-control" id="city" formControlName="currentCity" placeholder="" required>
                    <div *ngIf="idCardForm.controls.currentCity.invalid">
                      Please select a valid city.
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-4 mb-3">
                    <label for="country">Pais</label>
                    <select class="custom-select d-block w-100" formControlName="currentCountry" id="country" required>
                      <option value="">Choose...</option>
                      <option>California</option>
                    </select>
                    <div *ngIf="idCardForm.controls.currentCountry.invalid">
                      Please provide a valid country.
                    </div>
                  </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" formControlName="conditions" class="custom-control-input" id="conditions">
                  <label class="custom-control-label" for="conditions">Acepto las <a href="#">condiciones</a></label>
                </div>
                <hr class="mb-4">
                <button class="mt-5 mt-4 btn btn-primary btn-lg btn-block" [disabled]="idCardForm.invalid" type="submit">Realizar el pago</button>
              </form>
            </div>
            <div class="container" *ngIf="step == 4">
              <app-payment [user]="user"></app-payment>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
