<ng-container *ngIf="(auth.user | async) || {} as user">
  <header>
      <button (click)="logout()" class="basic-btn">Logout</button>
      <button (click)="cancelSubscription(user.type)" *ngIf="user.subscription.status === 'active' && user.subscription.renovable" class="basic-btn">Anular subscripcion</button>
      <button (click)="continueSubscription(user.type)" *ngIf="user.subscription.status === 'active' && !user.subscription.renovable" class="basic-btn">Reactivar subscripcion</button>
    </header>
{{ user | json }}

<h1>{{ auth.isAdmin(user) }}</h1>
</ng-container>
